<!-- <div class="content">
  <div class="header-content">
    <h2 class="header-content-title"> Carteiras </h2>
  </div>
  <div class="body-content">

    <div>
      <h3 class="body-content-title">Minhas Carteiras</h3>
      <div class="body-content-carousel">
        <button (click)="scrollWallets('up', 'right')"><em class="fas fa-chevron-left fa-3x"></em></button>
        <div #scrollMyWallets class="body-content-carousel-content">
          <div class="body-content-carousel-content-wallet" *ngFor="let image of arrayImage; let i = index">
            <img [src]="image">
          </div>
        </div>
        <button (click)="scrollWallets('up', 'left')"><em class="fas fa-chevron-right fa-3x"></em></button>
      </div>
      <h3 class="body-content-title">Quantidade de Carteiras: {{ arrayImage.length }}</h3>
    </div>

    <div class="body-content-down">
      <h2 class="body-content-title">Carteiras Públicas</h2>
      <div class="body-content-carousel">
        <button (click)="scrollWallets('down', 'right')"><em class="fas fa-chevron-left fa-3x"></em></button>
        <div #scrollOtherWallets class="body-content-carousel-content">
          <div class="body-content-carousel-content-wallet" *ngFor="let image of arrayImage; let i = index">
            <img [src]="image">
          </div>
        </div>
        <button (click)="scrollWallets('down', 'left')"><em class="fas fa-chevron-right fa-3x"></em></button>
      </div>
      <h3 class="body-content-title">Quantidade de Carteiras Públicas: {{ arrayImage.length }}</h3>
    </div>

    <div class="gallery js-flickity">
      <img (click)="method()" class="gallery-cell" [src]="image" *ngFor="let image of arrayImage; let i = index">
    </div>
  </div>
</div>

<div class="carousel" data-flickity='{ "draggable": false, "contain": true, "cellAlign": "center" }'>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
  <div class="carousel-cell"></div>
</div> -->
<div class="container">
  <div #scrollMyWallets style="display: flex; height: 400px; min-width: 100%; overflow: hidden;">
    <div style="height: 100%;" *ngFor="let image of arrayImage; let i = index">
      <img style="height: 100%;" [src]="image">
    </div>
  </div>
  <div style="display: flex;
  justify-content: space-between; height: 400px; min-width: 100%; margin-top: -400px;">
    <button (click)="scrollWallets('up', 'right')"><em class="fas fa-chevron-left fa-3x"></em></button>
    <button (click)="scrollWallets('up', 'left')"><em class="fas fa-chevron-right fa-3x"></em></button>
  </div>
</div>

<router-outlet></router-outlet>